.floating-cart {
    position: fixed;   /* Fixes the cart to the screen */
    bottom: 20px;      /* Distance from the bottom */
    right: 20px;       /* Distance from the right */
    z-index: 999;      /* Ensures it's above other content */
  }
  
  .cart-button {
    border: solid 2px #E19898;
    background-color: transparent;
    color: #E19898;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-button:hover {
    background-color: #d9b09e;
    color:whitesmoke;
    border: solid 2px #D8C4B6;
  }
  