.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed; /* Giữ Header cố định ở trên cùng */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Chiều cao cố định cho Header */
  background-color: #f8f9fa; /* Màu nền cho Header */
  z-index: 1000; /* Đảm bảo Header luôn ở trên */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
